body{
	font-family: Times, "Times New Roman", serif;
}

#content{
	background-color: aqua;
	width: 100%;
	height: 300px;
    border: 1px solid green;
}

img{
	float: right;
	width: auto;
	height: 300px;
}