body{
	font-family: Times, "Times New Roman", serif;
}

main{
	color: white;
	text-align: left;
	background-color: blue;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
